.App {
  background-color: #38618c;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 24px;
  box-sizing: border-box;
}
@import "~antd/dist/antd.css";
